    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    *,
    *::before,
    *::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    body {
        background-color: #008B8B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    header {
        background-color: whitesmoke;
        width: 100%;
        padding: 0.5rem;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 90px;
    }

    main {
        background-color: goldenrod;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: royalblue;
        position: -webkit-sticky;
        position: sticky;
        top: 90;
        height: 100%;
    }

    nav li {
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 0.2rem;
        background-color: sandybrown;
    }


    nav li:hover {
        cursor: pointer;
        background-color: rgb(218, 131, 55);

    }

    section {
        background-color: purple;
        flex-grow: 2;
    }

    .requirements {
        background-color: none;
        margin: 0.2rem;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;

    }
    .furps {
        background-color: lightsteelblue;
        padding: 0.4rem;
        margin: 0.1rem 0.1rem;
        border-radius: 0.3rem;

    }

    .moscow {
        background-color: whitesmoke;
        padding: 0.5rem;
        margin: 0.2rem;
        border-radius: 0.3rem;

    }

    .musthave,
    .shouldhave,
    .couldhave,
    .wonthave {
        margin: 0.2rem;
        padding: 0.5rem;
        border: 0px solid white;
        border-radius: 0.2rem;
    }
    .musthave {
        background-color: #C5E0B3;
    }
    .shouldhave {
        background-color: #BDD6EE;
    }
    .couldhave {
        background-color: #FFE599;
    }
    .wonthave {
        background-color: #D9D9D9;
    }